@import '../../variables';

.drag-zone {
  .input-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
    // border-radius: $border-radius-md;
    box-shadow: $shadow-sm;

    div {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-md;
      box-shadow: $shadow-sm;
    }

    &:hover {
      background-image: none;
      background-color: $color-brand-500;
      color: $color-grey-0;
    }
  }
}
