.content-area {
  display: flex;
  margin-bottom: 20px;
  gap: 10px; // Use gap for spacing between image and content

  .image {
    flex: 2;
    background-color: #ff7675;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 4px;
    }
  }

  .content {
    flex: 3;
    background-color: #ff7675;
    padding: 10px;
    color: white;
    border-radius: 4px;
  }
}
