@import '../../variables.scss';

.user-details-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-button,
.suspend-button {
  background-color: $color-grey-100; // White background for sidebar
  border-right: 1px solid $color-grey-100; // Light grey border
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.suspend-button {
  background-color: #ff4d4f;
  color: $color-grey-0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 70px 0px;
}

.tabs {
  margin-bottom: 30px;

  .tab {
    padding: 10px 20px;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
  }

  .tab.active {
    color: #007bff;
    border-bottom-color: #007bff;
  }
}
