.no-items-message {
  margin-top: 20px;
  color: var(--color-grey-700);
}

.user-details-container {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .user-header {
    display: flex;
    justify-content: center;
  }

  .stats {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 70px 0;
  }

  .tabs {
    display: flex;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;

    .tab {
      color: var(--color-grey-700);
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s, border-bottom 0.3s;
      border-bottom: 2px solid transparent;

      &.active {
        color: var(--color-brand-500);
        border-bottom-color: var(--color-brand-500);
      }
    }
  }
}
