.profile-info-container {
  max-width: 1000px; // Set a max width to keep the content from stretching too wide
  margin: 0 auto; // Center the container
  padding: 20px; // Add padding around the container
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;

    &.info-heading {
      border-bottom: 1px solid #e7e7e7; // Subtle border for separation
      padding-bottom: 10px; // Space between text and border
      margin-bottom: 20px; // Margin to separate from next section
    }
  }

  .info-grid {
    display: grid;
    gap: 20px; // Gap between grid items

    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      background-color: #f9f9f9; // Light background for each info block
      border-radius: 8px; // Rounded corners for each info block
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); // Subtle shadow for each info block

      h3 {
        margin: 0;
        font-size: 1.125rem;
        font-weight: bold;
        color: #555;
      }

      p {
        margin: 5px 0 0;
        font-size: 1rem;
        color: #666;
      }
    }
  }
}
