.report-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-0);
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-grey-200);
  color: var(--color-grey-700);
  .report-content {
    flex: 1;
  }

  .eye-icon {
    margin-left: 5px;
    font-size: 1.1rem;
    color: var(--color-grey-700);
    transition: color 0.2s;

    &:hover {
      color: var(--color-brand-600);
    }
  }
}
