@import '../../variables';

.profile-post {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: space-between;
  padding: 5px;
  gap: 20px;
  height: 220px;
  border-bottom: 1px solid $color-grey-200;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $color-grey-100;
  }

  .post-thumbnail {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;

    img {
      border-radius: $border-radius-sm;
      width: 200px;
      height: auto;
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .post-title {
      font-weight: bold;
      color: $color-grey-700;
      margin-right: 10px;
      flex-grow: 1;
    }

    .time-created {
      color: $color-grey-400;
      font-size: 0.9rem;
    }

    .post-tags {
      display: flex;
      gap: 5px;
    }

    .statistics {
      display: flex;
      gap: 10px;
      color: $color-grey-700;

      span {
        padding: 0 2px;
      }
    }
  }
}
