.profile-post {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: space-between;
  padding: 10px 5px;
  gap: 20px;
  height: auto;
  border-bottom: 1px solid var(--color-grey-200);
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-grey-100);
  }

  .post-thumbnail {
    width: 200px;
    display: flex;
    align-items: center;

    img {
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-sm);
      width: 200px;
      height: auto;
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-grey-700);
    .post-title {
      font-weight: bold;
      color: var(--color-grey-700);
      margin-right: 10px;
      flex-grow: 1;
    }

    .time-created {
      color: var(--color-grey-400);
      font-size: 0.9rem;
    }

    .post-tags {
      display: flex;
      gap: 5px;
      color: var(--color-brand-500);
    }

    .statistics {
      display: flex;
      gap: 10px;
      color: var(--color-grey-700);

      span {
        padding: 0 2px;
      }
    }
  }
}
