@import '../../variables';

.input-section {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  .comment-input {
    display: flex;
    gap: 5px;
    border-radius: $border-radius-md;
    border: 2px solid $color-grey-100;
    flex-grow: 1;
    padding: 10px;
    resize: none;
    font-family: 'Oxygen';
    font-size: 1.05rem;
  }
}
