@import '../../variables';

.comment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: $shadow-sm;

  .comment-content {
    flex: 1;
  }

  .eye-icon {
    margin-left: 5px;
    font-size: 1.1rem;
    color: $color-grey-700;
    transition: color 0.2s;

    &:hover {
      color: $color-brand-600;
    }
  }
}
