.feed {
  display: grid;
  grid-template-columns: auto minmax(auto, 3fr) 400px;
  justify-items: center;
  max-width: 70%;
  margin: 50px auto;
}

@media (max-width: 1200px) {
  .feed {
    grid-template-columns: 1fr;
  }
}
