.lottie-animation {
  width: 100%;
  height: auto;
}
.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-red-700);
  color: var(--color-grey-0);
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}
