.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Full viewport height */

  .lottie-animation {
    max-width: 40%; /* Adjust the width as needed */
  }
}
