.search-container {
  flex: 2fr;
  flex-grow: 1;
  padding: 0 1rem;
  justify-content: center;

  input {
    border: none;
    height: 35px;
    padding: 10px;
    border-bottom: 1px solid var(--color-grey-400);
    background-color: var(--color-grey-0);

    font-size: 1rem;
    transition: border-radius 0.2s;

    &:focus {
      border-radius: var(--border-radius-md);
    }
  }
}
