@import '../../variables';

.search-container {
  flex: 2fr;
  flex-grow: 1;
  padding: 0 1rem;
  justify-content: center;

  input {
    border: none;
    height: 35px;
    padding: 10px;
    border-bottom: 1px solid $color-grey-400;
    width: 80%;
    font-size: 1rem;
    transition: border-radius 0.2s;

    &:focus {
      border-radius: $border-radius-md;
    }
  }
}
