.post-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-title {
  overflow: hidden;
  // text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.5rem; // Adjust as necessary
  max-width: 100%; // Ensure it does not exceed container width
}
