.post-body {
  padding: 0;
  margin-bottom: 10px;

  .post-title {
    font-size: 1.2rem;
    color: var(--color-grey-700);
    margin-bottom: 5px;
  }

  .content {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--color-grey-700);
    margin-bottom: 10px;
    line-height: 1.5;
  }

  .tags {
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows wrapping of items onto multiple lines */
    font-weight: bold;
    color: var(--color-brand-500);
    margin-bottom: 10px;

    span {
      margin-right: 5px;
    }
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    img {
      border-radius: var(--border-radius-md);
      height: inherit;
      width: 600px;
    }
  }
}
