@import '../../variables';

.posts-page {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.lottie-animation {
  width: 100%;
}

.post-item {
  box-shadow: $shadow-sm;
  margin-bottom: 20px;
  display: flex;
  background-color: $color-grey-0;
  padding: 20px;
  border-radius: $border-radius-md;
}
