.comment-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-grey-200);
  .comment-avatar {
    margin-right: 10px;
  }
  .comment-username {
    color: var(--color-grey-700);
  }

  .comment-details-container {
    flex-grow: 1;
    flex-direction: column;

    div {
      display: flex;
      align-items: center;

      .comment-time {
        margin-left: 10px;
        font-size: 0.9rem;
        color: var(--color-grey-400);
      }
    }
    .comment-content {
      font-family: 'Oxygen';
      display: block;
      flex-direction: column;
      color: var(--color-grey-700);
    }
  }

  .comment-actions {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .comment-controllers {
    display: flex;
    gap: 20px;
    cursor: pointer;

    .edit-comment {
      color: var(--color-brand-500);
      transition: color 0.2s ease;

      &:hover {
        color: var(--color-brand-700);
      }
    }

    .delete-comment {
      display: block;
      color: var(--color-red-700);

      cursor: pointer;
    }
  }

  .undo-edit-comment {
    cursor: pointer;

    &:hover {
      color: var(--color-brand-700);
    }
  }

  .reported-flag {
    cursor: pointer;
    color: var(--color-red-700);
  }
}
