:root {
  &,
  &.light-mode {
    /* Grey */
    --color-grey-0: #fff;
    --color-grey-50: #f9fafb;
    --color-grey-100: #f3f4f6;
    --color-grey-200: #e5e7eb;
    --color-grey-300: #d1d5db;
    --color-grey-400: #9ca3af;
    --color-grey-500: #6b7280;
    --color-grey-600: #4b5563;
    --color-grey-700: #374151;
    --color-grey-800: #1f2937;
    --color-grey-900: #111827;

    /* Blue */
    --color-blue-100: #e0f2fe;
    --color-blue-700: #0369a1;

    /* Green */
    --color-green-100: #dcfce7;
    --color-green-700: #15803d;

    /* Yellow */
    --color-yellow-100: #fef9c3;
    --color-yellow-700: #a16207;

    /* Silver */
    --color-silver-100: #e5e7eb;
    --color-silver-700: #374151;

    /* Indigo */
    --color-indigo-100: #e0e7ff;
    --color-indigo-700: #4338ca;

    /* Red */
    --color-red-100: #fee2e2;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;

    /* Backdrop */
    --backdrop-color: rgba(255, 255, 255, 0.1);

    /* Shadows */
    --shadow-sm: 0 0 8px rgba(0, 0, 0, 0.1);

    /* Border Radius */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 15px;

    /* Image */
    --image-grayscale: 0;
    --image-opacity: 100%;
  }

  &.dark-mode {
    /* Grey */
    --color-grey-0: #18212f;
    --color-grey-50: #111827;
    --color-grey-100: #1f2937;
    --color-grey-200: #374151;
    --color-grey-300: #4b5563;
    --color-grey-400: #6b7280;
    --color-grey-500: #9ca3af;
    --color-grey-600: #d1d5db;
    --color-grey-700: #e5e7eb;
    --color-grey-800: #f3f4f6;
    --color-grey-900: #f9fafb;

    /* Blue */
    --color-blue-100: #075985;
    --color-blue-700: #e0f2fe;

    /* Green */
    --color-green-100: #dcfce7;
    --color-green-700: #166534;

    /* Yellow */
    --color-yellow-100: #854d0e;
    --color-yellow-700: #fef9c3;

    /* Silver */
    --color-silver-100: #374151;
    --color-silver-700: #f3f4f6;

    /* Indigo */
    --color-indigo-100: #3730a3;
    --color-indigo-700: #e0e7ff;

    /* Red */
    --color-red-100: #fee2e2;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;

    /* Backdrop */
    --backdrop-color: rgba(0, 0, 0, 0.3);

    /* Image */
    --image-grayscale: 10%;
    --image-opacity: 90%;
  }

  /* Indigo */
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;

  /* --color-brand-50: #ffedd5;
  --color-brand-100: #fcae64;
  --color-brand-200: #fb923c;
  --color-brand-500: #ff7849;
  --color-brand-600: #f97316;
  --color-brand-700: #ec622d;
  --color-brand-800: #7e22ce;
  --color-brand-900: #6b21a8;  */

  /* Shadows */
  --shadow-sm: 0 0 8px rgba(0, 0, 0, 0.1);

  /* Border Radius */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
}
