@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Oxygen:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
#root {
  height: 100vh;
}

body {
  font-family: 'Oxygen', sans-serif;
  transition: color 0.3s, background-color 0.3s;
  min-height: 100vh;
  padding-top: 100px;
  line-height: 1.5;
  font-size: 1.1rem;
  background-color: var(--color-grey-50);

  &::-webkit-scrollbar {
    display: none;
  }
}

input {
  &::placeholder {
    color: var(--color-grey-400);
    font-family: 'Oxygen';
  }
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: 2px solid var(--color-brand-600);
  outline-offset: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
label {
  font-family: 'Orbitron', sans-serif;
  color: var(--color-grey-600);
}

a {
  text-decoration: none;
}

input,
textarea {
  background: var(--color-grey-0);
  color: var(--color-grey-600);

  &:disabled {
    background-color: var(--color-grey-100);
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;

  /* For dark mode */
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

button {
  all: unset;
  text-decoration: none;
  border: none;
  background-color: none;
  padding: 7.5px 15px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;

  &:active {
    border-radius: var(--border-radius-sm);
  }
}

:global {
  .active {
    color: var(--color-brand-600) !important;
    font-weight: bold;
  }

  .dragging {
    background-color: var(--color-brand-500);
    color: var(--color-grey-0);
  }

  .dropdown-content {
    position: fixed;
    top: 90px;
    right: 10%;
    padding: 1rem;
    background-color: var(--color-grey-0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-md);

    ul {
      display: flex;
      flex-direction: column;
    }

    li {
      width: 100%;
      padding: 1.25rem 2rem;
      cursor: pointer;

      &:hover {
        background-color: var(--color-grey-50);
      }
    }
  }
}
