@import '../../variables.scss';

.profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 50px 250px;
  gap: 20px;
  background-color: $color-grey-50; // Light grey background
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;

  h1 {
    margin: 0 0 5px 10px;
    font-weight: bold;
  }

  p {
    margin: 0 0 0 10px;
    color: $color-grey-400;
  }
}

.main-content {
  display: flex;
  gap: 20px;
}

.profile-side-bar {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  background-color: $color-grey-0; // White background for sidebar
  border-right: 2px solid $color-grey-50; // Light grey border
  box-shadow: $shadow-sm; // Subtle shadow for sidebar
  padding: 20px;
  flex-shrink: 0; // Prevent shrinking

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 1.25rem;
        transition: color 0.3s;

        &:hover {
          background-color: $color-grey-50;
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }
}

.content {
  flex-grow: 1; // Allow content to grow and take remaining space
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto; // Allow scrolling if content is large
  background-color: $color-grey-0; // White background for sidebar
  box-shadow: $shadow-sm; // Subtle shadow for sidebar
}
