@import '../../variables.scss';

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 250px;
  gap: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
}

.profile-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  height: 350px;
  background-color: var(--color-grey-0); // White background for sidebar
  border-right: 1px solid var(--color-grey-100); // Light grey border
  box-shadow: var(--shadow-sm);
  padding: 0 20px;
  flex-shrink: 0; // Prevent shrinking

  ul {
    list-style-type: none;

    li {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 1.1rem;
        transition: color 0.3s;

        &:hover {
          background-color: var(--color-grey-50);
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }
}

.admin {
  height: 500px !important;
}

.content {
  flex-grow: 1; // Allow content to grow and take remaining space
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto; // Allow scrolling if content is large
  background-color: var(--color-grey-0); // White background for sidebar
  box-shadow: var(--shadow-sm); // Subtle shadow for sidebar
  border-left: 1px solid var(--color-grey-100); // Light grey border
}
