@import '../../variables';

.nav-wrapper {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(0); /* Start with no vertical movement */
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  height: 100px;
  background-color: $color-grey-0;
  box-shadow: $shadow-sm;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out,
    background-color 0.5s ease-in-out, transform 0.5s ease-in-out;

  &.scrolling {
    height: 70px;
    background-color: $color-grey-100;
    box-shadow: $shadow-sm;
    transform: translateX(-50%) translateY(0); /* Ensure it stays centered when scrolling */
  }

  .nav {
    width: 80%;
    grid-template-columns: auto 1fr auto;
    display: grid;

    div {
      display: flex;
      align-items: center;
      justify-items: center;
    }

    .left-section {
      justify-content: flex-start;
      align-self: center;
    }

    .center-section {
      justify-self: center;
      width: 60%;
    }

    .right-section {
      justify-content: flex-end;
      display: flex;
      gap: 20px;
    }

    a:hover {
      transition: color 0.3s;
      color: $color-brand-500;
    }
  }
}
