@import '../../variables';

.nav-wrapper {
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  transform: translate(-50%);
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  z-index: 1000;
  height: 100px;
  background-color: $color-grey-0; // Optional: Background color to ensure it looks good on all backgrounds
  box-shadow: $shadow-sm; // Subtle shadow for sidebar

  .nav {
    width: 80%;
    grid-template-columns: auto 1fr auto;
    display: grid;

    div {
      display: flex;
      align-items: center;
      justify-items: center;
    }

    .left-section {
      justify-content: flex-start;
      align-self: center;
    }

    .center-section {
      justify-self: center;
      width: 60%;
    }

    .right-section {
      justify-content: flex-end;
      display: flex;
      gap: 20px;
    }

    a:hover {
      transition: color 0.3s;
      color: $color-brand-500;
    }
  }
}
