.author-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  .avatar {
    margin-right: 10px;
  }

  span {
    font-weight: bold;
    color: #555;
    cursor: pointer;
    position: relative;

    &:hover {
      color: #000;
    }
  }
}
