@import '../../variables';

.author-details {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  .avatar {
    margin-right: 10px;
  }

  span {
    font-weight: bold;
    color: $color-grey-700;
    cursor: pointer;
    position: relative;
  }
}
