.user-hover-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-grey-0);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-sm);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  width: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  &.visible {
    transform: translate(-50%, -100%);
    opacity: 1;
    pointer-events: auto;
  }

  .user-info {
    margin-left: 10px;
    text-align: center;
  }

  .username {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
}
