@import '../../variables';

.user-hover-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-grey-0;
  border-radius: $border-radius-md;
  box-shadow: $shadow-sm;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  width: 200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;

  &.visible {
    transform: translate(-50%, -100%);
    opacity: 1;
    pointer-events: auto;
  }

  .user-info {
    margin-left: 10px;
    text-align: center;
  }

  .username {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .follow-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0c85d0;
    }
  }
}
