@import '../../variables';

.post-details {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 70px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: $color-grey-0;
  box-shadow: $shadow-sm;
}

.headers {
  margin-bottom: 20px;
}
