.follows-container {
  padding: 20px;
  height: 100%;

  .tabs {
    display: flex;
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;

    .tab {
      color: var(--color-grey-700);
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s, border-bottom 0.3s;
      border-bottom: 2px solid transparent;

      &.active {
        color: var(--color-brand-500);
        border-bottom-color: var(--color-brand-500);
      }
    }
  }

  .listContainer {
    padding: 10px;
    background-color: var(--color-grey-0);
    border-radius: 5px;
  }

  .loading {
    text-align: center;
    color: var(--color-grey-700);
  }

  .userItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid var(--color-grey-100);
    font-size: 14px;
    color: var(--color-grey-700);

    &:last-child {
      border-bottom: none;
    }

    .avatar {
      margin-right: 10px;
    }

    .username {
      font-weight: bold;
    }
  }
}
